<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Update Biketrail <%= biketrail.name%></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/biketrails/<%= biketrail._id %>/?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="biketrail[name]" value="<%=biketrail.name %>">
                </div> 
                <div class="form-group">
                    <input class="form-control" type="text" name="biketrail[description]" value="<%=biketrail.description %>">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= biketrail.location %>">
                </div>
                <!--
                <div class="form-group">
                    <label for="kml">KML file (To display your track, upload Google .kml instead of .gpx files - use online converters)</label>
                    <input class="form-control" type="file" name="kml" id="kml" accept="kml/*" value="<%= biketrail.location %>">
                </div> 
                -->
                <div class="form-group">
                    <label for="gpx">gpx file (displays in Open Street Map)</label>
                    <input class="form-control" type="file" name="gpx" id="gpx" accept="gpx/*">
                </div> 
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" >Update</button>
                </div>
            </form>
            <a href="/biketrails">Back</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>