<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Bike Trails</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <% biketrail.images.map((image) => { %>
                    <img class="image-responsive" src = '<%= image.image %>' alt="">
                    <p><%= image.location%></p>
                    <% if(user_id !== undefined && biketrail.author.id.equals(user_id)){ %>
                        <form style="margin: 3px;" action="/biketrails/<%=biketrail._id%>/images/<%=image._id%>/?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Delete Image</button>
                        </form style="display: inline;">
                    <% } %>
                <% })%>
                <div class="caption-full">
                    <h4 class="pull-right">Placeholder for content</h4>
                    <h4><a href=""><%= biketrail.name%></a></h4>
                    <p><%= biketrail.description%></p>
                    <p>created by: <%= biketrail.author.userName%></p>
                    <!-- add author later -->
                    <% if(user_id !== undefined && biketrail.author.id.equals(user_id)){ %>
                        <a class="btn btn-sm btn-success text-left"  style="margin-bottom: 3px;" href="/biketrails/<%= biketrail._id %>/images/new">Add New Image</a>
                        <a class="btn btn-warning btn-sm" style="display: inline;"  href="/biketrails/<%= biketrail._id%>/edit">Edit Biketrail</a>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirm_delete_biketrail">Delete</button>
                        <!-- Modal -->
                        <div id="confirm_delete_biketrail" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal Content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Do you really want to delete this asset?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>The content of this asset will be completely deleted, please confirm!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form style="display: inline;" action="/biketrails/<%= biketrail._id%>/?_method=DELETE" method="POST">
                                            <button class="btn btn-danger btn-sm">Confirm Delete Biketrail</button>
                                        </form>
                                        <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% } %>
                </div>
            </div>
            <div class="well">
                <% if(user_id !== undefined){ %>
                    <div class="text-left">
                        <a class="btn btn-success" href="/biketrails/<%= biketrail._id %>/comments/new">Create New Comment</a>
                    </div>
                <% } %>
                <hr>
                <% biketrail.comments.map((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.userName%></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%=comment.text%></p>
                            <p></p>
                            <% if(user_id !== undefined && comment.author.id.equals(user_id)){ %>
                                <a class="btn btn-warning" href="/biketrails/<%= biketrail._id%>/comments/<%= comment._id%>/edit">Edit</a>

                                <!-- Wrap delete into modal -->
                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirm_delete_comment">Delete</button>
                                <div id="confirm_delete_comment" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" data-dismiss="modal">&times;</button>        
                                                <h4 class="modal-title">Do you really want to delete this asset?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>The content of this asset will be completely deleted, please confirm!</p>
                                            </div> 
                                            <div class="modal-footer">
                                                <form style="display: inline;" action="/biketrails/<%= biketrail._id%>/comments/<%=comment._id%>/?_method=DELETE" method="post">
                                                    <button class="btn btn-danger">Confirm Delete Comment</button>
                                                </form>
                                                <button class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <% } %>
                        </div>
                    </div>
                <% });%>
            </div>

        </div>
    </div>
</div>


<a href="/biketrails">Back</a>
<%- include ("../partials/footer") %>